.list {
    @media screen and(max-width: 1199px) {
    display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    @media screen and(max-width: 1200px) {
    display: flex;
    justify-content: center;}
    
}