
.clients-list {
    margin: -15px;
}
.clients__card {
@media screen and(min-width:480px) and(max-width: 767px) {
        width: 210px;
        margin: 15px;
    }

    @media screen and(min-width:768px) and(max-width: 1199px) {
        width: 226px;
        margin: 15px;
    }

    @media screen and(min-width: 1200px) {
        display: flex;
        width: 170px;
        height: 92px;
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}
  
.clients__link {
    width: 100%;
    height: 100%;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AFB1B8;

    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients-link:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
}

.client__icon {
    fill: currentColor;
}