.preference__subtitle {
    margin-top: 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase
}
.container-list {
    @media  screen and(min-width:480px) and(max-width:1199px) {
     margin: -15px;   
    }
}
.preference__item {
    
    @media screen and(min-width:480px) and(max-width:767px) {
    width: 450px; 
    &:not(:last-child) {margin-bottom: 30px;}   
    }

    @media screen and(min-width:768px) and(max-width:1199px) {
            width: 354px;
            margin: 15px;
        }
    
        @media screen and(min-width:1200px) {
            width: 270px;
            &:not(:last-child) {margin-right: 30px;}
        }    
  }

.preference__icon {
    align-items: center;
    height: 120px;
    display: flex;
    justify-content: center;
    background: #F5F4FA;
    border-radius: 4px;
}

.preference__text {
    margin-top: 10px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}