.button-cont {
@media screen and(max-width: 767px) {
        margin-bottom: 40px;
    }
 @media screen and(min-width: 768px) and(max-width:1199px) {
     margin-bottom: 30px;
 }
 @media screen and(min-width: 1200px) {
    margin-bottom: 50px;
 }
    @media screen and(max-width: 1199px) {
            gap: 8px;
        }
    @media screen and(min-width: 768px) {
    justify-content: center;
    }
    display: flex;
    flex-wrap: wrap;
   
}

.sort-button {
    background-color: var(--white-color);
}

.button-dif:not(:last-child) {
    @media screen and(min-width: 768px) {
    margin-right: 8px;
    }
}

.portfolio-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-card {
    padding: 20px 24px 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}