.button-cont {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.sort-button {
    background-color: var(--white-color);
}

.button-dif:not(:last-child) {
    margin-right: 10px;
}

.portfolio-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-card {
    padding: 20px 24px 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}