.work {
    padding-top: 0;
}

.title {
    @media screen and(max-width: 1199px) {
            text-align: center;
            font-weight: 700;
            font-size: 28px;
            line-height: calc(33/18);
        }
    
        @media screen and(min-width: 1200px) {
            text-align: center;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.17;
        }
    }

.title__list {
    @media screen and(max-width: 1199px) {
    margin-bottom: 30px;    
    }
    @media screen and(min-width: 1200px) {
    margin-bottom: 50px;
    }
}

.work__item:not(:last-child) {
    margin-right: 30px;
}

.work__item {
    position: relative;
}

.static-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 70px;
}

.static-overlay__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
}

.work__static-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
}